#p-contact-details {
  margin: 10px;
}

#p-contact-details a {
  display: block;
}

#title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#p-contact-details #go-back {
  width: 150px;
  height: 40px;
  background-color: #181c23;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  border-style: solid;
  border-width: 1px;
  padding: 8px 16px;
  cursor: pointer;
  text-decoration: none;
  color: #e1e1e1;
}

#p-contact-details #go-back:hover {
  color: #a6f750;
  border-radius: 4px;
  border: 1px solid #a6f750;
}

#p-contact-details-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#p-contact-details-footer button {
  width: 150px;
  height: 40px;
  background-color: #181c23;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  border-style: solid;
  border-width: 1px;
  padding: 8px 16px;
  cursor: pointer;
  text-decoration: none;
  color: #e1e1e1;
}

#p-contact-details-footer button:hover {
  color: red;
  border-radius: 4px;
  border: 1px solid red;
}
