#p-contacts {
  margin: 10px;
}

.showContactNull {
  display: block;
}

.hideContactNull {
  display: none;
}

#title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#p-contacts #btn-new-contact {
  width: 150px;
  height: 40px;
  background-color: #181c23;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  border-style: solid;
  border-width: 1px;
  padding: 8px 16px;
  cursor: pointer;
  text-decoration: none;
  color: #e1e1e1;;
}

#p-contacts #btn-new-contact:hover {
  color: #a6f750;
  border-radius: 4px;
  border: 1px solid #a6f750;
}