#title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#title #go-back {
  width: 150px;
  height: 40px;
  background-color: #181c23;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  border-style: solid;
  border-width: 1px;
  padding: 8px 16px;
  cursor: pointer;
  text-decoration: none;
  color: #e1e1e1;;
}

#title #go-back:hover {
  color: #a6f750;
  border-radius: 4px;
  border: 1px solid #a6f750;
}

#p-new-contact {
  display: flex;
  flex-direction: column;
}

#p-new-contact label {
  margin: 20px 0 20px 0;
}

#p-new-contact input {
  width: 100%;
  font-size: 1rem;
  flex: 1 1 0%;
  color: #e1e1e1;
  position: relative;
  outline: none;
  padding: 0.625rem 1.25rem;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(56, 60, 68) transparent;
  background-color: #282c33;
  border-image: initial;
}

#p-new-contact button {
  margin-top: 20px;
  width: 250px;
  background-color: #181c23;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  border-style: solid;
  border-width: 1px;
  padding: 16px 32px;
  cursor: pointer;
  text-decoration: none;
  color: #e1e1e1;;
}

#p-new-contact button:hover {
  color: #a6f750;
  border-radius: 4px;
  border: 1px solid #a6f750;
}